.home-container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0000;
  gap: 3rem;
  text-align: center;
}

.home-container > div {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 15rem;
  margin: auto;
  gap: 0.5rem;
  border: solid 1px;
  border-radius: 1rem;
}

.home-container > div > img {
  margin: auto;
  width: 5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background: rgba(255, 255, 255, 0.017);
}

